<div class="row" *ngIf="!loan">Loading...</div>
<div class="row" *ngIf="loan">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="loanNumber">Loan Number</label>
                    <input type="text" id="loanNumber" class="form-control" name="loanNumber" [(ngModel)]="loan.number">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" class="form-control" name="firstName"
                        [(ngModel)]="loan.borrower.firstName">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" class="form-control" name="lastName"
                        [(ngModel)]="loan.borrower.lastName">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" *ngIf="loginService.isAdminUser()">Edit</button>
                    <button class=" btn btn-primary" type="button" (click)="onBack()">Back</button>
                </div>
            </div>
        </form>
    </div>
</div>